/* font family-----
------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common and utilities --------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #FFFFFF;

}
.button-prop{
    transition: linear .1s;
}
.button-prop:hover{
    transform: scale(1.3);
}

.button{
    padding: 10px 24px;
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    
}

    

/* Top part starts here--------- */
.top-part{
    background-color: #2D25A0;
    padding-top: 135px;
    padding-bottom: 86px;

}
/* top banner--------------- */
.top-banner{
    display: flex;
    justify-content: center;
    margin-left: 156px;
    margin-right: 141px;  
}

.banner-text h1{
    font-weight: 700;
    font-size: 64px;
    color: white;

}
.banner-image{
    margin-left: 102px;
    transition: linear .2s;
}
.top-banner .banner-image img{
    width: 556px;
 ;
}
.banner-image:hover{
    transform: scale(1.3);
}


/* middle banner starts here --------------------------------*/
.middle-part{
    display: flex;
    justify-content: center;
    margin-left: 180px;
    margin-right: 210px;
    margin-top: 70px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    
    row-gap: 27px;
}
.blog{
    display: flex;
    flex-direction: column;
    width: 330px;
    background-color: #FFFFFF;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: ease-in .1s;

    
}
.blog:hover{
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.329);
    transform: scale(1.2);
}
.blog-text{
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}
.blogs .blog-image img{
    width: 300px;
    height: 256px;
    padding: 15px;
    
}

.blog-text h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
}
/* bottom banner starts here -------- */
.bottom-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}
.bottom-text{
    width: 469px;
    margin-right: 66px;
    
}
.bottom-text h2{
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    margin: 0;
}
.bottom-banner .bottom-image img{
    width: 567px;
}
/* footer start here --------------- */
footer{
    text-align: center;
    margin-top: 158px;
    margin-bottom: 63px;
    
}
.logo img{
    width: 484px;
}
.icon{
    color: gray;
    font-size: 32px;
    margin-right: 14px;
    
}
.copyright{
    font-size: 18px;
}
/* media queries------------------ */
/* mobile device------------------ */
@media only screen and (max-width:688px){
 footer{
       display: none;
   }

    /* main style starts here */
   .top-part{
       background-color: #2D25A0;
       padding-top: 112px;
   }
   .top-banner{
       display: flex;
       flex-direction: column;
       margin-left: 16px;
       
   }
   .banner-text{
       width: 274px;

   }
   .banner-text h1{
       font-size: 36px;
       font-weight: 700;
       line-height: 50px;
   }
   .banner-image{  
    margin-left: 0px;
    margin-top: 50px;
   }
   .top-banner .banner-image img{
       width: 329px;
   }
   .middle-part{
       margin: 0;
       margin-top: 47px;
   }
   .blogs{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       row-gap: 24px;
   }
   .bottom-banner{
    display: block;}
    .bottom-text{
        width: 90%;
        text-align: justify;
    }
    .bottom-banner .bottom-image img{
        width: 328px;
    }
}